body {
    background-color: rgb(96, 128, 128);
}

.card {
    text-align: center;
    opacity: 1;
    width: 200px;
    color: #333;
    padding-top: 20px;
}

.card-title {
    overflow: hidden;
    display: block;
    columns: #262626;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0 !important;
    font-size: 14px;
}

img {
    margin: auto;
    display: block;
}

.container {
    margin-top: 100px;
}

.slick-prev:before,
.slick-next:before {
    color: #fff;
    opacity: 1;
    cursor: pointer;
}

.memberList {
    color: #fff !important;
}


/* mobile */

@media (min-width:0px) and (max-width:480px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .card {
        margin: auto;
    }
    .memberList {
        text-align: center;
    }
    .slick-prev:before,
    .slick-next:before {
        font-size: 20px;
    }
}